# **Phase 1: Data Preparation and Cleaning**

In [26]:
import pandas as pd

In [27]:
# Load the datasets
providers_df = pd.read_csv('providers_data.csv')
receivers_df = pd.read_csv('receivers_data.csv')
food_listings_df = pd.read_csv('food_listings_data.csv')
claims_df = pd.read_csv('claims_data.csv')

1. Convert 'Expiry_Date' in food_listings_df to datetime objects

In [28]:
print("\n--- Converting 'Expiry_Date' column to datetime type ---")
food_listings_df['Expiry_Date'] = pd.to_datetime(food_listings_df['Expiry_Date'])
print("Updated 'food_listings_data' info:")
food_listings_df.info()

--- Converting 'Expiry_Date' column to datetime type ---
Updated 'food_listings_data' info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Food_ID        1000 non-null   int64
 1   Food_Name      1000 non-null   object
 2   Quantity       1000 non-null   int64
 3   Expiry_Date    1000 non-null   datetime64[ns]
 4   Provider_ID    1000 non-null   int64
 5   Provider_Type  1000 non-null   object
 6   Location       1000 non-null   object
 7   Food_Type      1000 non-null   object
 8   Meal_Type      1000 non-null   object
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 70.4+ KB

2. Convert 'Timestamp' in claims_df to datetime objects

In [29]:
print("\n--- Converting 'Timestamp' column to datetime type ---")
claims_df['Timestamp'] = pd.to_datetime(claims_df['Timestamp'])
print("Updated 'claims_data' info:")
claims_df.info()

--- Converting 'Timestamp' column to datetime type ---
Updated 'claims_data' info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Claim_ID     1000 non-null   int64
 1   Food_ID      1000 non-null   int64
 2   Receiver_ID  1000 non-null   int64
 3   Status       1000 non-null   object
 4   Timestamp    1000 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(1)
memory usage: 39.2+ KB

3. Display the first few rows of each DataFrame to verify loading

In [30]:
print("Providers Data:")
print(providers_df.head())

Providers Data:
   Provider_ID                         Name           Type  \
0            1             Gonzales-Cochran    Supermarket
1            2  Nielsen, Johnson and Fuller  Grocery Store
2            3                 Miller-Black    Supermarket
3            4   Clark, Prince and Williams  Grocery Store
4            5               Coleman-Farley  Grocery Store

                                             Address            City  \
0  74347 Christopher Extensions\nAndreamouth, OK ...     New Jessica
1           91228 Hanson Stream\nWelchtown, OR 27136     East Sheena
2  561 Martinez Point Suite 507\nGuzmanchester, W...  Lake Jesusview
3     467 Bell Trail Suite 409\nPort Jesus, IA 61188     Mendezmouth
4  078 Matthew Creek Apt. 319\nSaraborough, MA 53978   Valentineside

                Contact
0       +1-600-220-0480
1  +1-925-283-8901x6297
2      001-517-295-2206
3      556.944.8935x401
4          193.714.6577

In [31]:
print("\nReceivers Data:")
print(receivers_df.head())

Receivers Data:
   Receiver_ID          Name        Type               City           Contact
0            1  Donald Gomez     Shelter     Port Carlburgh     (955)922-5295
1            2  Laurie Ramos  Individual         Lewisburgh      761.042.1570
2            3  Ashley Mckee         NGO  South Randalltown  691-023-0094x856
3            4    Erika Rose         NGO   South Shaneville        8296491111
4            5   John Romero  Individual          Bakerport      067.491.0154

In [32]:
print("\nFood Listings Data:")
print(food_listings_df.head())

Food Listings Data:
   Food_ID Food_Name  Quantity Expiry_Date  Provider_ID     Provider_Type  \
0        1     Bread        43  2025-03-17          110     Grocery Store
1        2      Soup        22  2025-03-24          791     Grocery Store
2        3    Fruits        46  2025-03-28          478  Catering Service
3        4    Fruits        15  2025-03-16          930        Restaurant
4        5      Soup        14  2025-03-19          279        Restaurant

           Location       Food_Type  Meal_Type
0  South Kellyville  Non-Vegetarian  Breakfast
1        West James  Non-Vegetarian     Dinner
2       Lake Regina           Vegan  Breakfast
3         Kellytown           Vegan      Lunch
4        Garciaport           Vegan     Dinner

In [33]:
print("\nClaims Data:")
print(claims_df.head())

Claims Data:
   Claim_ID  Food_ID  Receiver_ID     Status           Timestamp
0         1      164          908    Pending 2025-03-05 05:26:00
1         2      353          391  Cancelled 2025-03-11 10:24:00
2         3      626          492  Completed 2025-03-21 00:59:00
3         4       61          933  Cancelled 2025-03-04 09:08:00
4         5      345          229    Pending 2025-03-14 15:17:00

# **Phase 2: Database Creation**

1. Setup and Connection

-- Create the database if it doesn't exist
CREATE DATABASE IF NOT EXISTS food_wastage_db;
USE food_wastage_db;

-- Create the Providers table
CREATE TABLE Providers (
    Provider_ID INT PRIMARY KEY,
    Name VARCHAR(255) NOT NULL,
    Type VARCHAR(255),
    Address VARCHAR(255),
    City VARCHAR(255),
    Contact VARCHAR(255)
);

-- Create the Receivers table
CREATE TABLE Receivers (
    Receiver_ID INT PRIMARY KEY,
    Name VARCHAR(255) NOT NULL,
    Type VARCHAR(255),
    City VARCHAR(255),
    Contact VARCHAR(255)
);

-- Create the Food_Listings table
CREATE TABLE Food_Listings (
    Food_ID INT PRIMARY KEY,
    Food_Name VARCHAR(255) NOT NULL,
    Quantity INT,
    Expiry_Date DATE,
    Provider_ID INT,
    Provider_Type VARCHAR(255),
    Location VARCHAR(255),
    Food_Type VARCHAR(255),
    Meal_Type VARCHAR(255),
    FOREIGN KEY (Provider_ID) REFERENCES Providers(Provider_ID)
);

-- Create the Claims table
CREATE TABLE Claims (
    Claim_ID INT PRIMARY KEY,
    Food_ID INT,
    Receiver_ID INT,
    Status VARCHAR(255),
    Timestamp DATETIME,
    FOREIGN KEY (Food_ID) REFERENCES Food_Listings(Food_ID),
    FOREIGN KEY (Receiver_ID) REFERENCES Receivers(Receiver_ID)
);

In [66]:
from sqlalchemy import create_engine, text
import pymysql

In [51]:
db_config = {
    'host': 'localhost',
    'database': 'food_wastage_db',
    'user': 'root',  
    'password': 'sandeep',
    'port': 3306
}

In [52]:
def create_sqlalchemy_engine(config):
    """Create a SQLAlchemy engine for the MySQL database."""
    try:
        engine = create_engine(
            f"mysql+pymysql://{config['user']}:{config['password']}@{config['host']}:{config['port']}/{config['database']}"
        )
        print("SQLAlchemy engine created successfully.")
        return engine
    except Exception as e:
        print(f"Error creating SQLAlchemy engine: {e}")
        return None

In [53]:
def load_data_from_csv():
    """Load data from CSV files into pandas DataFrames."""
    try:
        providers_df = pd.read_csv('providers_data.csv')
        receivers_df = pd.read_csv('receivers_data.csv')
        food_listings_df = pd.read_csv('food_listings_data.csv')
        claims_df = pd.read_csv('claims_data.csv')

        # Perform data type conversions
        food_listings_df['Expiry_Date'] = pd.to_datetime(food_listings_df['Expiry_Date'])
        claims_df['Timestamp'] = pd.to_datetime(claims_df['Timestamp'])

        print("DataFrames loaded successfully from CSV files.")
        return providers_df, receivers_df, food_listings_df, claims_df
    except FileNotFoundError as e:
        print(f"Error: {e}. Please ensure all CSV files are in the same directory.")
        return None, None, None, None

In [54]:
def main():
    # Step 1: Create a database connection engine
    engine = create_sqlalchemy_engine(db_config)
    if engine is None:
        return

    # Step 2: Load data from CSV files
    providers_df, receivers_df, food_listings_df, claims_df = load_data_from_csv()
    if providers_df is None:
        return

    # Step 3: Write each DataFrame to its corresponding MySQL table using the engine
    try:
        providers_df.to_sql(name='Providers', con=engine, if_exists='append', index=False)
        print("Successfully loaded data into 'Providers' table.")
        
        receivers_df.to_sql(name='Receivers', con=engine, if_exists='append', index=False)
        print("Successfully loaded data into 'Receivers' table.")
        
        food_listings_df.to_sql(name='Food_Listings', con=engine, if_exists='append', index=False)
        print("Successfully loaded data into 'Food_Listings' table.")
        
        claims_df.to_sql(name='Claims', con=engine, if_exists='append', index=False)
        print("Successfully loaded data into 'Claims' table.")

    except Exception as e:
        print(f"An error occurred while writing to tables: {e}")

In [55]:
if __name__ == "__main__":
    main()

SQLAlchemy engine created successfully.
DataFrames loaded successfully from CSV files.
Successfully loaded data into 'Providers' table.
Successfully loaded data into 'Receivers' table.
Successfully loaded data into 'Food_Listings' table.
Successfully loaded data into 'Claims' table.

C:\Users\hanum\AppData\Local\Temp\ipykernel_27996\1358771003.py:14: UserWarning: The provided table name 'Providers' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  providers_df.to_sql(name='Providers', con=engine, if_exists='append', index=False)
C:\Users\hanum\AppData\Local\Temp\ipykernel_27996\1358771003.py:17: UserWarning: The provided table name 'Receivers' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  receivers_df.to_sql(name='Receivers', con=engine, if_exists='append', index=False)
C:\Users\hanum\AppData\Local\Temp\ipykernel_27996\1358771003.py:20: UserWarning: The provided table name 'Food_Listings' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  food_listings_df.to_sql(name='Food_Listings', con=engine, if_exists='append', index=False)
C:\Users\hanum\AppData\Local\Temp\ipykernel_27996\1358771003.py:23: UserWarning: The provided table name 'Claims' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  claims_df.to_sql(name='Claims', con=engine, if_exists='append', index=False)

2. CRUD Functions

In [67]:
def create_food_listing(engine, food_id, food_name, quantity, expiry_date, provider_id, provider_type, location, food_type, meal_type):
    """Add a new food listing to the database using SQLAlchemy engine."""
    query = """
    INSERT INTO Food_Listings (Food_ID, Food_Name, Quantity, Expiry_Date, Provider_ID, Provider_Type, Location, Food_Type, Meal_Type)
    VALUES (:food_id, :food_name, :quantity, :expiry_date, :provider_id, :provider_type, :location, :food_type, :meal_type)
    """
    data = {
        'food_id': food_id,
        'food_name': food_name,
        'quantity': quantity,
        'expiry_date': expiry_date,
        'provider_id': provider_id,
        'provider_type': provider_type,
        'location': location,
        'food_type': food_type,
        'meal_type': meal_type
    }
    with engine.connect() as connection:
        try:
            connection.execute(text(query), data)
            connection.commit()
            print("Food listing created successfully.")
        except Exception as e:
            print(f"Failed to create listing: {e}")

In [68]:
def read_food_listings(engine):
    """Read all food listings from the database using SQLAlchemy engine."""
    query = "SELECT * FROM Food_Listings;"
    try:
        df = pd.read_sql_query(query, engine)
        return df
    except Exception as e:
        print(f"Failed to read listings: {e}")
        return pd.DataFrame()

In [69]:
def update_food_listing_quantity(engine, food_id, new_quantity):
    """Update the quantity of a food listing using SQLAlchemy engine."""
    query = "UPDATE Food_Listings SET Quantity = :new_quantity WHERE Food_ID = :food_id"
    with engine.connect() as connection:
        try:
            connection.execute(text(query), {'new_quantity': new_quantity, 'food_id': food_id})
            connection.commit()
            print("Food listing updated successfully.")
        except Exception as e:
            print(f"Failed to update listing: {e}")

In [70]:
def delete_food_listing(engine, food_id):
    """Delete a food listing from the database using SQLAlchemy engine."""
    query = "DELETE FROM Food_Listings WHERE Food_ID = :food_id"
    with engine.connect() as connection:
        try:
            connection.execute(text(query), {'food_id': food_id})
            connection.commit()
            print("Food listing deleted successfully.")
        except Exception as e:
            print(f"Failed to delete listing: {e}")

In [71]:
def main():
    # Create the SQLAlchemy engine
    engine = create_sqlalchemy_engine(db_config)
    if engine is None:
        return

    # READ: Display the initial state of the table
    print("\n--- Initial Food Listings ---")
    initial_listings_df = read_food_listings(engine)
    print(initial_listings_df.tail())

    # CREATE: Add a new food listing
    print("\n--- Creating a new food listing with Food_ID = 1001 ---")
    create_food_listing(engine, 1001, 'Fresh Apples', 50, '2025-09-01', 1, 'Supermarket', 'New York', 'Vegetarian', 'Snacks')
    
    # READ: Display the table after the CREATE operation
    print("\n--- Updated Food Listings after CREATE ---")
    created_listings_df = read_food_listings(engine)
    print(created_listings_df.tail())

    # UPDATE: Update the quantity of the newly created listing
    print("\n--- Updating the quantity for Food_ID 1001 to 75 ---")
    update_food_listing_quantity(engine, 1001, 75)
    
    # READ: Display the table after the UPDATE operation
    print("\n--- Updated Food Listings after UPDATE ---")
    updated_listings_df = read_food_listings(engine)
    print(updated_listings_df.loc[updated_listings_df['Food_ID'] == 1001])

    # DELETE: Remove the newly created and updated listing
    print("\n--- Deleting the listing with Food_ID = 1001 ---")
    delete_food_listing(engine, 1001)
    
    # READ: Display the table after the DELETE operation
    print("\n--- Final Food Listings after DELETE ---")
    deleted_listings_df = read_food_listings(engine)
    print(deleted_listings_df.tail())

if __name__ == "__main__":
    main()

SQLAlchemy engine created successfully.

--- Initial Food Listings ---
     Food_ID Food_Name  Quantity Expiry_Date  Provider_ID     Provider_Type  \
995      996      Fish        15  2025-03-30          467  Catering Service
996      997      Fish        22  2025-03-18           35     Grocery Store
997      998    Fruits         6  2025-03-22          444        Restaurant
998      999     Pasta        15  2025-03-30          702       Supermarket
999     1000     Salad        18  2025-03-19          155       Supermarket

          Location       Food_Type  Meal_Type
995   Phillipsfort           Vegan  Breakfast
996  Andersonmouth      Vegetarian  Breakfast
997      New Billy  Non-Vegetarian     Dinner
998  Lake Mistyton  Non-Vegetarian      Lunch
999    Charlesview  Non-Vegetarian     Dinner

--- Creating a new food listing with Food_ID = 1001 ---
Food listing created successfully.

--- Updated Food Listings after CREATE ---
      Food_ID     Food_Name  Quantity Expiry_Date  Provider_ID  Provider_Type  \
996       997          Fish        22  2025-03-18           35  Grocery Store
997       998        Fruits         6  2025-03-22          444     Restaurant
998       999         Pasta        15  2025-03-30          702    Supermarket
999      1000         Salad        18  2025-03-19          155    Supermarket
1000     1001  Fresh Apples        50  2025-09-01            1    Supermarket

           Location       Food_Type  Meal_Type
996   Andersonmouth      Vegetarian  Breakfast
997       New Billy  Non-Vegetarian     Dinner
998   Lake Mistyton  Non-Vegetarian      Lunch
999     Charlesview  Non-Vegetarian     Dinner
1000       New York      Vegetarian     Snacks

--- Updating the quantity for Food_ID 1001 to 75 ---
Food listing updated successfully.

--- Updated Food Listings after UPDATE ---
      Food_ID     Food_Name  Quantity Expiry_Date  Provider_ID Provider_Type  \
1000     1001  Fresh Apples        75  2025-09-01            1   Supermarket

      Location   Food_Type Meal_Type
1000  New York  Vegetarian    Snacks

--- Deleting the listing with Food_ID = 1001 ---
Food listing deleted successfully.

--- Final Food Listings after DELETE ---
     Food_ID Food_Name  Quantity Expiry_Date  Provider_ID     Provider_Type  \
995      996      Fish        15  2025-03-30          467  Catering Service
996      997      Fish        22  2025-03-18           35     Grocery Store
997      998    Fruits         6  2025-03-22          444        Restaurant
998      999     Pasta        15  2025-03-30          702       Supermarket
999     1000     Salad        18  2025-03-19          155       Supermarket

          Location       Food_Type  Meal_Type
995   Phillipsfort           Vegan  Breakfast
996  Andersonmouth      Vegetarian  Breakfast
997      New Billy  Non-Vegetarian     Dinner
998  Lake Mistyton  Non-Vegetarian      Lunch
999    Charlesview  Non-Vegetarian     Dinner

# **Phase 3: Data Analysis**

In [73]:
engine = create_sqlalchemy_engine(db_config)

SQLAlchemy engine created successfully.

1. How many food providers and receivers are there in each city?

In [80]:
print("\n--- 1. Number of food providers and receivers in each city ---")
query_1 = """
SELECT
    T1.City,
    COUNT(DISTINCT T1.Provider_ID) AS Number_of_Providers,
    COUNT(DISTINCT T2.Receiver_ID) AS Number_of_Receivers
FROM providers AS T1
LEFT JOIN receivers AS T2 ON T1.City = T2.City
GROUP BY T1.City
ORDER BY Number_of_Providers DESC, Number_of_Receivers DESC;
"""
result_1 = pd.read_sql_query(query_1, engine)
print(result_1.head())

--- 1. Number of food providers and receivers in each city ---
                       City  Number_of_Providers  Number_of_Receivers
0                 New Carol                    3                    0
1  South Christopherborough                    3                    0
2              Lake Michael                    2                    1
3                New Daniel                    2                    1
4            North Michelle                    2                    1

2. Which type of food provider contributes the most food?

In [83]:
print("\n--- 2. Provider type that contributes the most food ---")
query_2 = """
SELECT Provider_Type, COUNT(*) as Contribution_Count
FROM food_listings
GROUP BY Provider_Type
ORDER BY Contribution_Count DESC
LIMIT 1;
"""
result_2 = pd.read_sql_query(query_2, engine)
print(result_2)

--- 2. Provider type that contributes the most food ---
  Provider_Type  Contribution_Count
0   Supermarket                 267

3. Contact information of food providers in South Kathryn

In [84]:
print("\n--- 3. Contact information for providers in South Kathryn ---")
query_3 = """
SELECT Name, Contact
FROM providers
WHERE City = 'South Kathryn';
"""
result_3 = pd.read_sql_query(query_3, engine)
print(result_3)

--- 3. Contact information for providers in South Kathryn ---
          Name               Contact
0  Barry Group  +1-533-592-0009x5523

4. Receivers who have claimed the most food

In [85]:
print("\n--- 4. Receivers who have claimed the most food ---")
query_4 = """
SELECT r.Name, COUNT(c.Claim_ID) AS Total_Claims
FROM receivers AS r
JOIN claims AS c ON r.Receiver_ID = c.Receiver_ID
GROUP BY r.Name
ORDER BY Total_Claims DESC
LIMIT 10;
"""
result_4 = pd.read_sql_query(query_4, engine)
print(result_4)

--- 4. Receivers who have claimed the most food ---
                Name  Total_Claims
0  William Frederick             5
1       Matthew Webb             5
2       Scott Hunter             5
3     Anthony Garcia             5
4    Alexandra Owens             4
5         Betty Reid             4
6    Jennifer Nelson             4
7   Kristina Simpson             4
8    Kristine Martin             4
9         Alvin West             4

5. Total quantity of food available from all providers

In [86]:
print("\n--- 5. Total quantity of food available from all providers ---")
query_5 = """
SELECT SUM(Quantity) as Total_Available_Quantity
FROM food_listings;
"""
result_5 = pd.read_sql_query(query_5, engine)
print(result_5)

--- 5. Total quantity of food available from all providers ---
   Total_Available_Quantity
0                   25794.0

6. City with the highest number of food listings

In [87]:
print("\n--- 6. City with the highest number of food listings ---")
query_6 = """
SELECT Location, COUNT(*) as Number_of_Listings
FROM food_listings
GROUP BY Location
ORDER BY Number_of_Listings DESC
LIMIT 1;
"""
result_6 = pd.read_sql_query(query_6, engine)
print(result_6)

--- 6. City with the highest number of food listings ---
    Location  Number_of_Listings
0  New Carol                   6

7. Most commonly available food types

In [88]:
print("\n--- 7. Most commonly available food types ---")
query_7 = """
SELECT Food_Type, COUNT(*) as Number_of_Items
FROM food_listings
GROUP BY Food_Type
ORDER BY Number_of_Items DESC;
"""
result_7 = pd.read_sql_query(query_7, engine)
print(result_7)

--- 7. Most commonly available food types ---
        Food_Type  Number_of_Items
0      Vegetarian              336
1           Vegan              334
2  Non-Vegetarian              330

8. Number of food claims for each food item (top 5)

In [89]:
print("\n--- 8. Number of food claims for each food item (top 5) ---")
query_8 = """
SELECT fl.Food_Name, COUNT(c.Claim_ID) AS Number_of_Claims
FROM food_listings AS fl
JOIN claims AS c ON fl.Food_ID = c.Food_ID
GROUP BY fl.Food_Name
ORDER BY Number_of_Claims DESC
LIMIT 5;
"""
result_8 = pd.read_sql_query(query_8, engine)
print(result_8)

--- 8. Number of food claims for each food item (top 5) ---
  Food_Name  Number_of_Claims
0      Rice               122
1      Soup               114
2     Dairy               110
3      Fish               108
4     Salad               106

9. Provider with the highest number of successful claims

In [90]:
print("\n--- 9. Provider with the highest number of successful claims ---")
query_9 = """
SELECT p.Name, COUNT(c.Claim_ID) AS Successful_Claims
FROM providers AS p
JOIN food_listings AS fl ON p.Provider_ID = fl.Provider_ID
JOIN claims AS c ON fl.Food_ID = c.Food_ID
WHERE c.Status = 'Completed'
GROUP BY p.Name
ORDER BY Successful_Claims DESC
LIMIT 1;
"""
result_9 = pd.read_sql_query(query_9, engine)
print(result_9)

--- 9. Provider with the highest number of successful claims ---
          Name  Successful_Claims
0  Barry Group                  5

10. Percentage of claims by status

In [91]:
print("\n--- 10. Percentage of claims by status ---")
query_10 = """
SELECT
    Status,
    CAST(COUNT(*) AS REAL) * 100 / (SELECT COUNT(*) FROM claims) AS Percentage
FROM claims
GROUP BY Status;
"""
result_10 = pd.read_sql_query(query_10, engine)
print(result_10)

--- 10. Percentage of claims by status ---
      Status  Percentage
0    Pending        32.5
1  Cancelled        33.6
2  Completed        33.9

11. Average quantity of food claimed per receiver

In [92]:
print("\n--- 11. Average quantity of food claimed per receiver ---")
query_11 = """
SELECT
    AVG(fl.Quantity) AS Average_Quantity_Claimed_Per_Receiver
FROM claims AS c
JOIN food_listings AS fl ON c.Food_ID = fl.Food_ID;
"""
result_11 = pd.read_sql_query(query_11, engine)
print(result_11)

--- 11. Average quantity of food claimed per receiver ---
   Average_Quantity_Claimed_Per_Receiver
0                                 25.959

12. Most claimed meal type

In [93]:
print("\n--- 12. Most claimed meal type ---")
query_12 = """
SELECT
    fl.Meal_Type,
    COUNT(c.Claim_ID) AS Number_of_Claims
FROM
    claims AS c
JOIN
    food_listings AS fl ON c.Food_ID = fl.Food_ID
GROUP BY
    fl.Meal_Type
ORDER BY
    Number_of_Claims DESC;
"""
result_12 = pd.read_sql_query(query_12, engine)
print(result_12)

--- 12. Most claimed meal type ---
   Meal_Type  Number_of_Claims
0  Breakfast               278
1      Lunch               250
2     Snacks               240
3     Dinner               232

13. Total quantity of food donated by each provider

In [94]:
print("\n--- 13. Total quantity of food donated by each provider ---")
query_13 = """
SELECT
    p.Name,
    SUM(fl.Quantity) as Total_Quantity
FROM
    providers as p
JOIN
    food_listings as fl ON p.Provider_ID = fl.Provider_ID
GROUP BY
    p.Name
ORDER BY
    Total_Quantity DESC
LIMIT 10;
"""
result_13 = pd.read_sql_query(query_13, engine)
print(result_13)

--- 13. Total quantity of food donated by each provider ---
                         Name  Total_Quantity
0                  Miller Inc           217.0
1                 Barry Group           179.0
2  Evans, Wright and Mitchell           158.0
3                 Smith Group           150.0
4                Campbell LLC           145.0
5                  Nelson LLC           142.0
6                  Ruiz-Oneal           140.0
7           Blankenship-Lewis           124.0
8                  Kelly-Ware           123.0
9           Bradford-Martinez           121.0

14. Most common food types

In [95]:
print("\n--- 14. Most common food types ---")
query_14 = """
SELECT Food_Type, COUNT(*) as Number_of_Items
FROM food_listings
GROUP BY Food_Type
ORDER BY Number_of_Items DESC;
"""
result_14 = pd.read_sql_query(query_14, engine)
print(result_14)

--- 14. Most common food types ---
        Food_Type  Number_of_Items
0      Vegetarian              336
1           Vegan              334
2  Non-Vegetarian              330

15. Most common meal types

In [97]:
print("\n--- 15. Most common meal types ---")
query_15 = """
SELECT Meal_Type, COUNT(*) as Number_of_Items
FROM food_listings
GROUP BY Meal_Type
ORDER BY Number_of_Items DESC;
"""
result_15 = pd.read_sql_query(query_15, engine)
print(result_15)

--- 15. Most common meal types ---
   Meal_Type  Number_of_Items
0  Breakfast              254
1     Snacks              253
2      Lunch              248
3     Dinner              245